name: Build Fuel
on:
  workflow_call:
    inputs:
      build_targets:
        required: true
        type: string
      configs:
        required: true
        type: string
      branch:
        required: false
        default: master
        type: string
jobs:
  build:
    name: "Build ${{ matrix.smalltalk }} ${{ matrix.config }}"
    if: ${{!contains(github.event.commits[0].message, '[docs]')}}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        smalltalk: ${{ fromJSON(inputs.build_targets) }}
        config: ${{ fromJSON(inputs.configs) }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch }}
      - uses: hpi-swa/setup-smalltalkCI@v1
        with:
          smalltalk-image: ${{ matrix.smalltalk }}
      - run: smalltalkci -s ${{ matrix.smalltalk }} ${{ matrix.config }}
        shell: bash
        timeout-minutes: 5